/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-feb-2024, 9:16:56
    Author     : tecno1
*/

html

h2 {
    color: #6699ff;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3B64B5;
}

h1{
    color: #ccccff;
     -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9966ff;
}

<button id="cara" onclick="Comprobar()">comprobar</button>{
    color: blue
}